KExpert/Service References/ApiServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KExpert.Ws.ExceptionHandler" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KExpert.Ws.ExceptionHandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExceptionFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionFaultContract" nillable="true" type="tns:ExceptionFaultContract" />
</xs:schema>