KExpert/Service References/ApiServiceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://karexpert.hu/kews/" elementFormDefault="qualified" targetNamespace="http://karexpert.hu/kews/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51050/Service.svc?xsd=xsd2" namespace="http://karexpert.hu/kews/types/" />
  <xs:import schemaLocation="http://localhost:51050/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KE.Entities.WsModels" />
  <xs:import schemaLocation="http://localhost:51050/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KE.Entities.WsMobile" />
  <xs:element name="GetServertime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServertimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServertimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://karexpert.hu/kews/types/" minOccurs="0" name="inputParameters" nillable="true" type="q1:PolicyQuoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://karexpert.hu/kews/types/" minOccurs="0" name="GetQuotationResult" nillable="true" type="q2:PolicyQuoteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://karexpert.hu/kews/types/" minOccurs="0" name="inputParameters" nillable="true" type="q3:PolicyQuoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://karexpert.hu/kews/types/" minOccurs="0" name="GetQuoteResult" nillable="true" type="q4:PolicyQuoteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://karexpert.hu/kews/types/" minOccurs="0" name="inputParameters" nillable="true" type="q5:CreatePolicyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KE.Entities.WsModels" minOccurs="0" name="CreatePolicyResult" nillable="true" type="q6:CreatePolicyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KE.Entities.WsMobile" minOccurs="0" name="GetPolicyDetailsResult" nillable="true" type="q7:PolicyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClaimDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClaimDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClaimDocumentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageThumbnails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageThumbnailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KE.Entities.WsMobile" minOccurs="0" name="GetImageThumbnailsResult" nillable="true" type="q8:ImageSetCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KE.Entities.WsMobile" minOccurs="0" name="GetFullImageResult" nillable="true" type="q9:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KE.Entities.WsMobile" minOccurs="0" name="imageSetCollection" nillable="true" type="q10:ImageSetCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageSetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadImageSetsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostBase64">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="base64" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostBase64Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostBase64Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBase64">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBase64Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBase64Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>